<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline" style="margin-left: 0.5rem;">
    <button type="submit"
            class="btn btn-link p-0 btn-animado btn-sm" 
            style="color: var(--nav-color); text-decoration: none; font-size: 1.1rem; opacity: 0.7;text-align: center">
        <i class="bi bi-box-arrow-right me-1"></i> Cerrar Sesión
    </button>
</form>